<link rel="stylesheet" href="/css/maps.css" />
<link rel="stylesheet" type="text/css" href="/css/stars.css" />
<% layout('partials/boilerplate') -%>
    <section class="container mt-md-5 mt-3" role="main">
        <div class="row">
            <div class="col-md-6 col-12">
                <div id="campgroundCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        <!-- < for(let image of campground.images){ %> -->
                        <% location.images.forEach((image, i)=>{ %>
                            <div class="carousel-item <%= i=== 0 ? 'active':'' %>">
                                <img src="<%= image.url %>" class="card-img-top d-block w-100" alt="<%= location.title %>" />
                            </div>
                            <% }) %>
                    </div>
                    <% if (location.images.length > 1) { %>
                        <button class="carousel-control-prev" type="button" data-bs-target="#campgroundCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#campgroundCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
                        <% } %>
                </div>
                <div class="card mb-3">
                    <!-- <% for(let image of location.images){ %>
      <img src="<%= image.url %>" class="card-img-top" alt="<%= location.title %>" />
      <% } %> -->
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= location.title %>
                        </h5>
                        <p class="card-text">
                            <%= location.description %>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Submitted by:
                            <%= location.author.username %>
                        </li>
                        <li class="list-group-item text-muted">
                            <%= location.location %>
                        </li>
                        <li class="list-group-item">$
                            <%= location.price %>/night</li>
                    </ul>
                    <% if (currentUser && location.author.equals(currentUser._id)) { %>
                        <div class="card-body">
                            <a href="/locations/<%= location._id %>/edit" class="card-link btn btn-info">Edit</a>
                            <form class="d-inline" action="/locations/<%= location._id %>?_method=DELETE" method="post">
                                <button type="submit" class="btn btn-danger">Delete!</button>
                            </form>
                        </div>
                        <% } %>
                            <div class="card-footer text-muted text-center">
                                <a href="/locations" class="card-link btn btn-dark">Back to locations</a>
                            </div>
                </div>
            </div>
            <div class="col-md-6 col-12 mb-3">
                <div id="mapShow"></div>
            </div>
        </div>
    </section>
    <!-- scripts -->
    <script>
        const mapToken = "<%- process.env.MAPBOX_TOKEN %>";
        const locationJSON = <%- JSON.stringify(location) %>;
    </script>
    <script src="/scripts/showPageMap.js"></script>